
.wy-table-responsive table td:not(:first-child), .wy-table-responsive table th {
    white-space: pre-wrap;
}

.rst-content .section ul, .rst-content .toctree-wrapper ul {
    line-height: 26px;
}

.rst-content table.docutils td {
    font-size: 16px;
}
